@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        .linha {
            border-top: 1px solid black;
            width: 80%;
        }
        ul {
            display: inline-flex;
            gap: 2rem;
            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                @include mixins.ff-fs-color(variaveis.$ft-textos, 1.5rem, variaveis.$cor-primaria);
                font-weight: 500;
                transition: .3s;
                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
    #home {
        max-width: 1040px;
        @include mixins.margin-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home {
            max-width: 464px;
            h1 {
                @include mixins.ff-fs-color(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);
                font-weight: 400;
                margin-bottom: 2rem;
                span {
                    color: variaveis.$cor-secundaria;
                }
            }
            button {
                color: white;
                background-color: variaveis.$cor-secundaria;
                padding: 1.2rem 4.5rem;
                border-radius: 2rem;
                border: none;
                font-family: variaveis.$ft-textos;
                font-size: 22px;
                font-weight: 600;
                transition: .3s;
                &:hover {
                    background-color: variaveis.$cor-default;
                    color: variaveis.$cor-secundaria;
                }
            }
        }
        .img-home {
            max-width: 474px;
            img {
                width: 100%;
            }
        }
    }
}